@import url(http://fonts.googleapis.com/css?family=Roboto:500,400,300);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);

body, input {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

a {
    cursor: pointer;
}

body {
    margin: 50px 20px;
}

h1, h2 {
    font-weight: 300;
}

h1 {
    padding: 0;
    margin: 0 0 20px 0;
}

h2 {
    padding: 0;
}

/* fix up some issues with the navbar */
.navbar-caption         { padding: 0 10px; }
.schedule-bar           { margin: 20px 0; }
.navbar .control-group  { margin: 0; padding: 0; }

/* datepicker */
#datepicker {
    margin: 5px 0 0 0;
    padding: 0;
}

.datepicker-days .today {
    font-weight: bold;
    background-image: linear-gradient(to bottom, #eee, #bbb);
    background-repeat: repeat-x;
}

.datepicker-days .past {
    color: #aaa;
}

/* timetable */
.timetable {
    list-style: none;
    margin: 0;
    padding: 0;
}

.timetable table {
    width: 100%;
    table-layout: fixed;
}

.timetable li.time-row {
    background: white;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 4px;
    margin: 4px 0 4px 0;
}

.timetable li.time-row.home {
    background-color: #eee;
    background-image: linear-gradient(to bottom, #fafafa, #eee);
    background-repeat: repeat-x;
}

.timetable li.dropdown {
    list-style: none;
}

.timetable li.dropdown a {
    cursor: pointer;
}

.timetable .cells td, .timetable th {
    padding: 3px 0;
}

.timetable .cells td.handle {
    width: 10px;
    background-color: #ddd;
    background-image: linear-gradient(transparent 50%, rgba(255,255,255,.5) 50%);
    background-size: 10px 10px;
    cursor: pointer;
}

.timetable .cells .offset {
    width: 32px;
    padding: 0 10px 0 0;
    text-align: right;
}

.timetable .cells .offset em {
    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-size: 17px;
    font-style: normal;
}

.timetable .cells .location {
    text-align: left;
    padding-right: 10px;
    font-size: 13px;
    font-weight: 400;
}

.timetable .locationname {
    font-weight: 500;
}

.timetable .country {
    color: #666;
}

.timetable .zones {
    margin-left: 5px;
}

.timetable .zones em {
    font-family: 'Roboto Condensed';
    font-size: 11px;
    margin: 0 1px;
    padding: 0 2px;
    color: #444;
    background: #ddd;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-style: normal;
    cursor: pointer;
}

.timetable .cells td {
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
}

.timetable .hour {
    display: block;
    font-family: 'Roboto Condensed';
    font-size: 19px;
    letter-spacing: -1px;
    font-weight: 400;
    line-height: 25px;
}

.timetable .minute {
    display: block;
    font-size: 11px;
    font-weight: 300;
    line-height: 12px;
    margin-top: -2px;
    color: #888;
}

.timetable .cells .slotwrapper:last-child {
    padding-right: 3px;
}

.timetable .slotwrapper {
    width: 26px;
}

.timetable .slot {
    margin: 0 0 0 1px;
    padding: 0;
    background: white;
    border: 1px solid #ccc;
    height: 40px;
    border-radius: 3px;
}

.timetable .slot.night {
    background: #285770;
    color: white;
}

.timetable .slot.morning,
.timetable .slot.evening {
    background: #699AB5;
    color: white;
}

.timetable .slot.night .minute,
.timetable .slot.morning .minute,
.timetable .slot.evening .minute {
    color: #B5D5E6;
}
