@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

body, input {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

a {
    cursor: pointer;
}

body {
    margin: 50px 20px;
}

h1, h2 {
    font-weight: 300;
}

h1 {
    padding: 0;
    margin: 0 0 20px 0;
}

h2 {
    padding: 0;
}

/* fix up some issues with the navbar */
.navbar-caption         { padding: 0 10px; }
.schedule-bar           { margin: 20px 0; }
.navbar .control-group  { margin: 0; padding: 0; }

/* timetable */
.timetable {
    list-style: none;
    margin: 0;
    padding: 0;
}

.timetable li.time-row {
    background: white;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 4px;
    margin: 4px 0 4px 0;
}

.timetable li.time-row.home {
    background-color: rgb(250, 250, 250);
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(242, 242, 242));
    background-repeat: repeat-x;
}

.timetable td, .timetable th {
    padding: 3px 2px 3px 0;
}

.timetable li.dropdown {
    list-style: none;
}

.timetable li.dropdown a {
    cursor: pointer;
}

.timetable td:last-child {
    padding-right: 3px;
}

.timetable th {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    width: 240px;
}

.timetable tr {
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.067);
}

.timetable td {
    font-weight: 300;
    text-align: center;
}

.timetable td span.hour {
    display: block;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}

.timetable td span.minute {
    display: block;
    font-size: 11px;
    font-weight: 300;
    line-height: 12px;
    color: #888;
}

.timetable .slot {
    padding: 0;
    background: white;
    border: 1px solid #ccc;
    height: 40px;
    border-radius: 3px;
    width: 26px;
}
