{% extends 'layout.html' %}
{% block title %}Welcome{% endblock %}
{% block body %}
  <p>
    Want to schedule a meeting that spans multiple timezones?  This handy
    little website can help you with that.  Just add the names of the timezones
    or cities and select your time slots.

  {% raw %}
  <div class="container timezone-table" ng-controller="TimezoneTableCtrl">
    <div class="navbar">
      <div class="navbar-inner schedule-bar">
        <a class="brand">Schedule</a>
        <div class="navbar-text navbar-caption pull-left">Zone or City:</div>
        <form class="navbar-form pull-left" ng-controller="ZoneTypeaheadCtrl"
              ng-submit="addSuggestedRow()">
          <div class="control-group" ng-class="{error: zoneFailed}">
            <input type="text" class="span3" autocomplete=off name=zone ng-model="zone"
              typeahead="state for state in getSuggestions($viewValue)">
            <button type="submit" class="btn">Add</button>
          </div>
        </form>
        <div class="navbar-text navbar-caption pull-left">Date:</div>
        <form class="navbar-form pull-left">
          <div class="input-append" id="datepicker" data-date="{{ selectedDay }}">
            <input class="span2" type="text" value="{{ selectedDay }}" readonly>
            <span class="add-on"><i class="icon-calendar"></i></span>
          </div>
        </form>
        <ul class="nav pull-right">
          <li class="dropdown">
            <a class="dropdown-toggle">
              Actions
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><a ng-click="sortByOffset()">Sort by offset</a>
              <li><a ng-click="sortByName()">Sort by name</a>
              <!-- <li class="divider">
              <li><a>Copy to clipboard</a> -->
            </ul>
        </ul>
        <div class="navbar-text pull-right" ng-hide="loadingIndicatorDepth == 0"><span class="loading-indicator"></span></div>
      </div>
    </div>

    <div class="timetable" ui-sortable="{axis: 'y', handle: 'div.handle', cursor: 'row-resize'}" ng-model="rows">
      <div ng-repeat="row in rows" class="time-row" ng-class="{home: row.isHome}">
        <div class="handle"></div>
        <div class="meta">
          <div class="timeinfo"
              tooltip-placement="bottom"
              tooltip="{{ row.offsets|describeoffset }}"
              ng-class="{clockless: !row.realTimeClock.isActive}">
            <div class="offset"><span><em>{{ row.offsets|offsetformat }}</em></span></div>
            <div class="rtclock" ng-hide="!row.realTimeClock.isActive">
              <span class=hour>{{ row.realTimeClock.hour }}</span>
              <span class="delim">:</span>
              <span class=minute>{{ row.realTimeClock.minute|padint:2 }}</span>
            </div>
          </div>
          <div class="location">
            <li class="dropdown">
              <a class="dropdown-toggle locationname">{{ row.zone.name }}</a>
              <ul class="dropdown-menu">
                <li><a ng-click="setAsHome(row.zone.key)" ng-hide="row.isHome">Set as home</a></li>
                <li><a ng-click="removeRow(row.zone.key)">Remove</a></li>
              </ul>
            </li>
            <span class="country" ng-hide="!row.zone.country">Country: <em>{{ row.zone.country }}</em></span>
            <span class="zones">
              <em ng-repeat="zone in row.zones"
                tooltip-placement="bottom"
                tooltip="{{ zone|describezone }}">{{ zone.name }}</em>
            </span>
          </div>
        </div>
        <table>
          <tr class="cells">
            <td ng-repeat="cell in row.cells" class="slotwrapper" ng-class="'cell-index-' + cell.idx">
              <div class=slot ng-class="{
                  daystart: cell.slot.hour == 0,
                  night: cell.slot.hour >= 22 || cell.slot.hour < 6,
                  morning: cell.slot.hour >= 6 && cell.slot.hour < 8,
                  day: cell.slot.hour >= 8 && cell.slot.hour < 18,
                  evening: cell.slot.hour >= 18 && cell.slot.hour < 22
                }" tooltip-placement="bottom" tooltip="{{ cell.slot|datetimeformat }}">
                <span class=hour>{{ cell.slot.hour }}</span>
                <span class=minute>{{ cell.slot.minute|padint:2 }}</span>
              </div>
            </td>
          </tr>
        </table>
        <div class=transitioninfo ng-hide="!row.nextTransition || !row.nextTransition.is_soon">
          Next transition:
          <span class=transition>{{ row.nextTransition|timezonetransitionformat }}</span>
        </div>
      </div>
    </div>
  </div>
  {% endraw %}
{% endblock %}
